@import 'variables';

.sortContainer {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  display: flex;
  justify-content: center;

  label {
    margin-right: 10px;
    font-weight: bold;
  }

  select {
    padding: 10px;
    border: 1px solid $black-light-color;
    border-radius: 5px;
    background-color: $textfield-background-color;
    transition: border-color $transition-duration;

    &:focus {
      border-color: $grey-color;
      outline: none;
    }
  }
}